body {
    margin: 0;
    /* line-height: 15px; */
    /* font-family: Arial;
    font-size: 18px;
    font-weight: bold; */
    box-sizing: border-box;
}

.box {
    border: 1px solid black;
    width: fit-content;
    margin: 5px;
    /* padding: 5px; */

}
.flexbox {
    display: flex;
    padding: 1%;
    flex-direction: column;
    /* align-content:space-between; */
}
/* .flexbox p {
    margin-bottom: -2px;
} */
hr {
    size: 10px;
    color: black;
}
h1{
    font-size: 44px;
    margin-bottom: -16px;
    margin-top:-6px;
}

.row{
    display:flex;
    align-items: flex-end;
    border-bottom: 1px solid green;
    justify-content: space-between;

}
.row p:first-child{
    flex-basis: 70%;
    width:fit-content;
    align-self:flex-start;
    border:1px solid yellow;

}
.row p:not(.first-child){
    flex-basis: 15%;
    text-align: right;
    border: 1px solid blue;
}
.balken {
    height: 14px;
    background-color: black;
}
.row_abstand {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid green;
    justify-content: space-between;
}
.row_abstand p:first-child {
    flex-basis: 70%;
}
.row_abstand p:not(.first-child){
    flex-basis: 15%;
    text-align: end;
    border: 1px solid blue;
}
.row_grosz {
    background-color: black;
    height: 8px;
    width: 100%;
}
.row_klein {
    background-color: black;
    height: 4pxem;
    width: 100%;
}
